{% extends 'base.html' %}
    {% block content %}
   

    <div class="wrapper mt-5">
        <div class="card" style="width: 25rem;">
            <div class="card-header headers" ><h3 class="circle">SMW</h3></div>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
              
                    <div class="row g-lg-0">
                        <div class="col-5">
                            <button type="submit" class="btn btn-primary">Send Email</button>
                        </div>
                        
                        <div class="col-5">
                            <a href="{% url 'login' %}" style="color:white" class="btn btn-primary">Back to Login</a> 
                        </div>
                        
    
                    </div>
               
            </form>
               
            </div>
          </div>
        </div>
    
   
{% endblock %}